{% extends "base.html" %}
{% block extrahead %}
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:description" content="{{ config.site_description }}" />
  <meta property="og:url" content="{{ page.canonical_url }}" />
  <meta property="og:image" content="https://s3.amazonaws.com/files.enjin.com/765924/modules/forum/attachments/WikiLogo_1614538923.png">
  <meta property="og:site_name" content="Rokucraft Wiki">
  <meta name="theme-color" content="#DAA520">
{% endblock %}
