:root {
    --md-primary-fg-color:        #AF8358;
    --md-primary-fg-color--light: #c79c72;
    --md-primary-fg-color--dark:  #3e332e;
    --md-primary-bg-color: #000000;
  }
  [data-md-color-scheme="slate"] {
    --md-hue: 9; /* [0, 360] */
  }
  .writingcredit {
    color: #9c8985;
    font-size: small;
    font-style: italic;
  }
  /* (A) "SET" THE TIMELINE CONTAINER */
.timeline{
  /* (A1) RELATIVE POSITION NECESSARY TO PROPERLY POSITION TIMELINE LATER */
  position: relative;
  /* (A2) RESERVE MORE SPACE TO THE LEFT FOR THE TIMELINE */
  padding: 10px 10px 10px 50px;
  /* (A3) OPTIONAL WIDTH RESTRICTION */
  max-width: 800px;
}
/* (B) DRAW TIMELINE USING ::BEFORE */
.timeline::before {
  /* (B1) DRAW THE TIMELINE */
  content: '';
  width: 5px;
  background-color: #AF8358;
  /* (B2) POSITION IT TO THE LEFT */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
}
/* (C) STYLES FOR THE EVENTS */
div.event {
  padding: 20px 30px;
  background-color: #c79c72;
  position: relative;
  border-radius: 6px;
  margin-bottom: 10px;
}
/* (D) STYLES FOR THE DATE & TEXT */
strong.eventdate {
  font-size: 1.1em;
  font-weight: bold;
  color: #462c06;
}
p.eventdesc {
  margin: 10px 0 0 0;
  color: #222;
}
/* (E) ADD "SPEECH BUBBLE TRIANGLE" TO THE EVENTS */
div.event::before {
  content: '';
  border: 10px solid transparent;
  border-right-color: #AF8358;
  border-left: 0;
  position: absolute;
  top: 20%;
  left: -10px;
}
/* (F) ADD A CIRCLE ON THE TIMELINE TO INDICATE AN EVENT */
div.event::after {
  content: '';
  background: #916d49 ;
  border: 4px solid #c79c72;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  left: -44px;
}